.auth-form-container {
  background-image: url('./assets/welovebooks3.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

